{% extends 'base.html' %}

{% block  Titulo %} Procesamiento de Señales {% endblock %}

{% block  Contenido %} 
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Voluntarios</h1>
  <div class="d-flex flex-wrap align-items-center justify-content-center ">
  
    <a href="{% url 'add_voluntario' %}" class="btn btn-outline-success px-4 me-2">Añadir Voluntario</a>

  </div>
</div>

<main class="container">
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    {% for voluntario in voluntarios %}
    <div class="d-flex text-body-secondary pt-3">
      {% if voluntario.genero == 'H' %}
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      {% elif voluntario.genero == 'M' %}
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ff69b4"></rect><text x="50%" y="50%" fill="#ff69b4" dy=".3em">32x32</text></svg>
      {% else %}
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#808080"></rect><text x="50%" y="50%" fill="#808080" dy=".3em">32x32</text></svg>
      {% endif %}
      <p class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <strong class="d-block text-gray-dark">{{voluntario.apellido}} {{voluntario.nombre}}</strong>
        Genero: {{voluntario.genero}}  
        <br>
        Fecha de nacimiento: {{voluntario.nacimiento}}
        <br>
        Observaciones: {{voluntario.observaciones}}
      </p>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}